[Desktop Entry]
Type=Application
Name=Calculator
Categories=Applications
Exec=invoker --type=qtcomponents-qt5 -s /usr/bin/glacier-calc
Icon=/usr/share/glacier-calc/images/icon-app-calculator.png

